.filter-container {
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  background-color: #f4f4f4;
  font-family: "Roboto", sans-serif;
  min-height: 90vh;
  height: auto;
}

.profession-cards {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  /* margin-bottom: 1rem; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  /* padding: 0.5rem 0; */
  padding: 0.5rem 0 0 0;
  scroll-behavior: smooth;
}

.profession-cards .card {
  border: 1px solid #0a65fc;
  border-radius: 50px; /* Makes the ends look like semicircles */
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Align text and icon on opposite sides */
  width: auto; /* Automatically adjusts to content width */
  height: auto;
  font-size: 0.8rem; /* Smaller font size */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  white-space: nowrap;
  flex-shrink: 0; /* Prevent shrinking */
}

.profession-cards .card h3 {
  font-size: 0.8rem;
}

.profession-cards .card:hover {
  background-color: #0a65fc;
  color: white;
}

.profession-cards .card.selected {
  background-color: #0a65fc;
  color: white;
}

.profession-cards .card .icon {
  font-size: 1rem; /* Smaller icon size */
  margin-right: 0.5rem; /* Space between text and icon */
}

@media (max-width: 480px) {
  .profession-cards .card {
    padding: 0.7rem 2rem;
    font-size: 0.7rem; /* Adjust font size for smaller screens */
    display: inline-flex;
    width: auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .profession-cards .card .icon {
    /* font-size: 0.8rem; Smaller icon size for mobile */
    display: none;
  }
}
