.course-page {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/* Left Section */
.left-section {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Right Section */
.right-section {
  flex: 0 0 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-price {
  font-weight: bold;
  font-size: 26px;
  color: "#0a65fc";
  margin-right: 16px;
}

.course-summary {
  display: flex;
  gap: 15px;
}

.course-detail-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.course-detail-icon {
  width: 24px;
  height: 24px;
}

.course-detail-text {
  font-size: 14px;
  font-weight: 500;
}

/* Tabs */
.tabs {
  display: flex;
  gap: 10px;
}

.tab {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: #444;
  border: 1px solid #ddd;
  background: #f9f9f9;
  cursor: pointer;
  transition: background 0.3s ease;
}

.tab.active {
  background: #3374ae; /* Active tab background color */
  color: #fff; /* Active tab text color */
  border-color: #3374ae;
}

.tab:hover {
  background: #3374ae;
  color: #fff;
}

/* Tab Content Container */
.tab-content-container {
  display: flex;
  gap: 20px;
}

/* Description Section */
.description {
  flex: 1;
  border: 1px solid #ddd;
  background: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

/* Reviews Section */
.reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  border-radius: 5px;
  padding: 20px;
}

.review-item {
  display: flex;
  gap: 15px;
}

.review-profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.review-content {
  flex-grow: 1;
}

.review-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.review-rating {
  display: flex;
  gap: 5px;
  margin: 5px 0;
}

.review-star {
  width: 16px;
  height: 16px;
}

.review-comment {
  font-size: 14px;
  color: #666;
}

.des-buy-now-description {
  box-shadow: none;
  position: initial;
  max-width: 40%;
  margin-top: 20px;
  background-color: #3374ae;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
}

.buy-now {
  text-decoration: none;
  color: white;
}
